/* .container1{
background-color: aqua; 
} */
.center{
    text-align: center;
}
body {
  background-color: rgb(136, 75, 75);
}
.container {
  width: 1024px;
  height: 2.5em;
  padding-top: 20px;
  
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: rgb(60, 126, 183);
}
a {
  text-decoration: none;
}
.p1 {
  color: white;
  font: 500px;
  padding-right: 100px;
  font-size: 20px;
}
.n2 {
  color: white;
  /* margin-right: 30px;
    margin-left: 20px; */
  margin: 0px 10px;
}
.btno {
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-left: 100px;
}
.photo {
  margin-top: 25px;
  width: 60%;
  height: 90%;
  margin-left: 70px;

  border-radius: 30% 40% 40% 40%;
}
.container1 {
    width: 40%;
    min-height: 500px;
  /* background-color: magenta; */
}
.container2 {
    width: 60%;
    min-height: 500px;
  /* background-color: aqua; */
}
.flexi{
    display: flex;
}
.centeri{
    margin-left: 1000px;
margin: 100px;
color:blue;
}
.about{
    margin-top: 450px;
}
.name{
    text-align: center;
    font-size: 50px;
}
.aboutme{
    background-color: rgb(84, 55, 84);
    margin-top: 100px;
    min-height: 300px;
}
.ab1{
    background-color: blueviolet;
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-right: 75px;
    padding-right: 50px;
}
.ab2{
    background-color: turquoise;
    width: 150px;
    height: 100px; 
    margin-left: 50px;
}